{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        /* Add some basic styling to the heatmap container */
        .heatmap-container {
            width: 80%;
            height: 50vh; /* 50% of the viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="heatmap-container">
        <iframe src="{{ MEDIA_URL }}{{ heatmap_image_path }}" height="500" width="1000"></iframe>
    </div>
</body>
{% endblock %}
