{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flexslider">
    <ul class="slides">
    
        <li>
            <img src="{% static 'images/slider/Test1.jpg' %}" alt="">
            <div class="flex-caption">
                <h2></h2>
                <span></span>
                <p>Swimming Pool Testing
                </p>
            </div>
        </li>

        <li>
            <img src="{% static 'images/slider/Test2.jpg' %}" alt="">
            <div class="flex-caption">
                <h2></h2>
                <span></span>
                <p>Swimming Pool Testing
                </p>
            </div>
        </li>

        <li>
            <img src="{% static 'images/slider/Test3.jpg' %}" alt="">
            <div class="flex-caption">
                <h2></h2>
                <span></span>
                <p>Swimming Pool Testing
                </p>
            </div>
        </li>

        <li>
            <img src="{% static 'images/slider/Test4.jpg' %}" alt="">
            <div class="flex-caption">
                <h2></h2>
                <span></span>
                <p>Swimming Pool Testing
                </p>
            </div>
        </li>

        
    </ul>
</div>

<div id="services" class="section-cotent">
    <div class="container">
        <!-- <div class="title-section text-center"> -->
            <!-- <h2></h2> -->
            <!-- <span></span> -->
        <!-- </div> -->
         <!-- /.title-section -->
        <div class="row">
            
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="service-header">
                        <i class="fa fa-umbrella"></i>
                        <h3>Project Discussion</h3>
                    </div>
                    <div class="service-description" style="text-align: justify;">
                        Aims to monitor water quality using IoT sensors mounted on a drone.    
                    </div>
                </div> <!-- /.service-item -->
            </div> <!-- /.col-md-3 -->

            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="service-header">
                        <i class="fa fa-eye"></i>
                        <h3>Outcome</h3>
                    </div>
                    <div class="service-description" style="text-align: justify;">
                        Real-time monitoring of water quality parameters such as conductivity, pH, oxygen levels, and temperature.
                    </div>
                </div> <!-- /.service-item -->
            </div> <!-- /.col-md-3 -->
            
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="service-header">
                        <i class="fa fa-bullseye"></i>
                        <h3>Benefits</h3>
                    </div>
                    <div class="service-description" style="text-align: justify;">
                        Enhanced data accuracy compared to traditional monitoring methods.
Wide coverage and accessibility, including remote or inaccessible water bodies.
Cost and time efficiency through automated data collection and analysis.

                    </div>
                </div> <!-- /.service-item -->
            </div> <!-- /.col-md-3 -->
            
        </div> <!-- /.row -->

    </div> <!-- /.container -->
</div> <!-- /#services -->





<div id="contact" class="section-cotent">


    <div class="container">
        <div class="title-section text-center">
            <h2>Contact Us</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <h4 class="widget-title">Send a message to us</h4>
                <div class="contact-form">
                    <p class="full-row">
                        <label for="name-id">Your Name:</label>
                        <input type="text" id="name-id" name="name-id">
                    </p>
                    <p class="full-row">
                        <label for="email-id">Email:</label>
                        <input type="text" id="email-id" name="email-id">
                    </p>
                    <p class="full-row">
                        <label for="subject-id">Subject:</label>
                        <input type="text" id="subject-id" name="subject-id">
                    </p>
                    <p class="full-row">
                        <label for="message">Message:</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </p>
                    <input class="mainBtn" type="submit" name="" value="Send Message">
                </div>
            </div> <!-- /.col-md-3 -->
            <div class="col-md-5 col-sm-6">
                <h4 class="widget-title">Our location</h4>
                <!-- <div class="map-holder">
                    <div class="google-map-canvas" id="map-canvas" style="height: 250px;">
                    </div>
                </div>  -->
                <!-- /.map-holder -->
                <div class="contact-info">
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi, non ducimus nesciunt in commodi similique aliquam omnis ea at!</p> -->
                    <span><i class="fa fa-home"></i>IoT Lab, SEECS, NUST H-12, Islamabad, Pakistan </span>
                    <span><i class="fa fa-phone"></i>051-90852161</span>
                    <!-- <span><i class="fa fa-envelope"></i>rafia.mumtaz@seecs.edu.pk</span> -->
                    <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                </div>
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#contact -->

{% endblock %}
