{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Aqua Drone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">
    
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    
    <!-- JavaScripts -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    
    <!-- <script src="js/main.js"></script> -->
    
    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
        </script> 

    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th {
            border: 1px solid #dddddd;
            color: white;
            background-color: #1b95e0;
            text-align: left;
            padding: 8px;
        }
        
        td {
          border: 1px solid #dddddd;
          text-align: left;
          color: black;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        
        /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class #1b95e0 */ 
.tab button.active {
  background-color: #1b95e0;
  color: white;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    </style>

</head>
<body>
    
    <div id="home">
        <div class="site-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-header">
                                <span><i class="fa fa-phone"></i>051-90852161</span>
                                <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="right-header text-right">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/rafia-mumtaz-6817b535/" class="fa fa-linkedin"></a></li>
                                    <li><a href="https://scholar.google.com/citations?user=i6qLmkkAAAAJ&hl=en&oi=ao" class="fa fa-google-plus"></a></li>
                                    <li><a href="https://twitter.com/RafiaMumtaz4" class="fa fa-twitter"></a></li>
                                </ul>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-header -->
            
            <div class="main-header">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <div class="logo">
                                <!-- <h1><a href="index.html" title="Dreri">Internet of Things Lab</a></h1> -->
                                <a href="index" title="Dreri"><img src="{% static 'images/AquaDrone.png' %}" height="60px" alt=""></a>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-11 col-sm-11 col-xs-6">
                            <div class="menu text-right hidden-sm hidden-xs">
        
                                <ul>
                                    <li><a onclick="location.href='index'" href="index.html">Home</a></li>
        
                                    <li><a onclick="location.href='team'" href="index.html">Team</a></li>
                                    <li><a href="#about">Publications</a></li>
                                </ul>
                            </div> <!-- /.menu -->
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                    <div class="responsive-menu text-right visible-xs visible-sm">
                        <a href="#" class="toggle-menu fa fa-bars"></a>
                        <div class="menu">
                            <ul>
                                <li><a onclick="location.href='index'" href="index.html">Home</a></li>
    
                                <li><a onclick="location.href='team'" href="index.html">Team</a></li>
                                <li><a href="#about">Publications</a></li>
                            </ul>
                        </div> <!-- /.menu -->
                    </div> <!-- /.responsive-menu -->
                </div> <!-- /.container -->
            </div> <!-- /.header -->
        </div> <!-- /.site-header -->
    </div> <!-- /#home -->

    <div id="about" class="section-cotent">
        <div class="container">
            <br>
            <div class="title-section text-center"> 
                <h2>Publications</h2>
                <span></span>
            </div>
 
                        <table>
                            <tr>
                              <th >Title</th>
                            </tr>

                            <tr>
                                <td>
                                     Uferah Shafi · Rafia Mumtaz et al., "Embedded AI for Wheat Yellow Rust Infection Type Classification," in IEEE Access, vol. 11, pp. 23726-23738, 2023, doi: 10.1109/ACCESS.2023.3254430.                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Uferah Shafi · Rafia Mumtaz · Zunaira Shafaq · Syed Mohammad Hassan Zaidi · Muhammad Owais Kaifi · Zahid Mahmood · Syed Ali Raza Zaidi , "Wheat rust disease detection techniques: a technical perspective", Journal of Plant Diseases and Protection, Vol. 129 , No. 4, PP. 489–504, Aug, 2022. IF: 1.847
                                </td>
                            </tr>

                            <tr>
                                <td>Ihsan Ul Haq, Rafia Mumtaz, Muhammad Talha, Zunaira Shafaq and Muhammad Owais, "Wheat Rust Disease Classification using Edge-AI", 2nd International Conference of Artificial Intelligence (ICAI-22), Mar, 2022, NUST-NCAI, Islamabad , Pakistan
                                </td>
                            </tr>

        
                            <tr>
                                <td>Uferah Shafi, Rafia Mumtaz *, Ihsan Ul Haq, Maryam Hafeez, Naveed Iqbal, Arslan Shaukat, Syed Mohammad Hassan Zaidi, Zahid Mahmood , "Wheat Yellow Rust Disease Infection Type Classification using Texture Features", Sensors, Vol. - , No. -, PP. -, Jan, 2022. IF: 3.576</td>
                            </tr>
                            
                            <tr>
                                <td>Hassan Raza Bukhari; Rafia Mumtaz; Salman Inayat; Uferah Shafi; Ihsan Ul Haq; Syed Mohammad Hassan Zaidi; Maryam Hafeez , "Assessing the Impact of Segmentation on Wheat Stripe Rust Disease Classification using Computer Vision and Deep Learning", IEEE Access, Vol. - , No. -, PP. -, Dec, 2021. IF: 3.367</td>
                            </tr>
                            <tr>
                                <td>Muhammad Hassan Maqsood, Rafia Mumtaz , Ihsan Ul Haq, Uferah Shafi, Syed Mohammad Hassan Zaidi and Maryam Hafeez , "Super Resolution Generative Adversarial Network (SRGANs) for Wheat Stripe Rust Classification.", Sensors, Vol. 21 , No. 23, PP. 1-12, Nov, 2021. IF: 3.576</td>
                            </tr>

                          </table>
        
</div>


<div class="container">
    <br>
    <div class="title-section text-center"> 
        <h2>Patents</h2>
        <span></span>
    </div>

                <table>
                    <tr>
                      <th> Title</th>
                    </tr>

                    <tr>
                        <td>
                            AgriViU-Agri Vision Unit for Wheat Stripe Rust Disease Monitoring 
                            [Application No. 21299-D]  - Filed                      </td>
                    </tr>

                  </table>

</div>

    </div> <!-- /#about -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p style="color: white;">Copyright &copy; 2023 Internet of Things Lab (IoT), NUST-SEECS</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Back to Top
                        </a>
                    </div> -->
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">

        function initialize() {
          var mapOptions = {
			  scrollwheel: false,
            zoom: 15,
            center: new google.maps.LatLng(13.758468,100.567481)
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>

<!-- <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
    </script> -->
</body>
</html>