{% extends 'base.html' %}
{% load static %}

{% block content %}




    <div id="about" class="section-cotent">
        <div class="container">
            <br>
            <div class="title-section text-center"> 
                <h2>Our R & D Team</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="our-team">
                    
                    <div class="row">
                        
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drRafia.jpg' %}" alt="Dr Rafia">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Rafia Mumtaz
                                </h5>
                                <span>Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drFaisal.jpg' %}" alt="Dr Faisal">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Faisal Shafait
                                </h5>
                                <span>Co Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drmali.jpeg' %}" alt="Dr Ali">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Muhammad Ali Tahir 
                                </h5>
                                <span>Co Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->

                  </div>

                  

                  <br>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="{% static 'images/team/uferah.jpg' %}" alt="Uferah">
                                    
                                </div>
                                <div class="inner-content">
                                    <h5>Ms. Uferah Shafi
                                    </h5>
                                    <span>Imaging and Machine learning
                                    </span>
                                    
                                </div>
                            </div> <!-- /.team-member -->
                        </div> <!-- /.col-md-4 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="{% static 'images/team/ihsan.png' %}" alt="Ihsan">
                                    
                                </div>
                                <div class="inner-content">
                                    <h5>Mr. Ihsan Ul Haq</h5>
                                    <span>Embedded Engineer
                                    </span>
                                </div>
                            </div> 
                        </div> 
    
    
                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <div class="member-img">
                                    <img width="500" height="600" src="{% static 'images/team/talha.jpeg' %}" alt="Talha">
                                   
                                </div>
                                <div class="inner-content">
                                    <h5>Mr. Muhammad Talha
                                    </h5>
                                    <span>Web developer
                                    </span>
                                    
                                </div>
                            </div> 
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="{% static 'images/team/rafay.jpeg' %}" alt="Abdul Rafeh">
                                    
                                </div>
                                <div class="inner-content">
                                    <h5>Mr. Abdur Rafay</h5>
                                    <span>AWS cloud & Machine Learning
                                    </span>
                                    
                                </div>
                            </div> <!-- /.team-member -->
                        </div>

                    </div>


                <br>
                <div class="row">

                    


                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/usama.jpg' %}" alt="Usama">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Usama Shujaat</h5>
                                <span>Cloud Engineer</span>
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/hasan.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Muhammad Hassan Maqsood</h5>
                                <span>AWS Cloud & Machine Learning
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/abdullah.jpg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Abdullah</h5>
                                <span>Embedded System Engineer
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                </div>
                
                <br>
                <div class="row">
                    
                    

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/deed.png' %}" alt="deedahwar">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Deedahwar Mazhar</h5>
                                </p>
                                <span>Technical Assistant
                                </span>
                                
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/hassan.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Hassan Raza Bukhari </h5>
                                
                                <span>Machine Learning
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img width="500" height="600" src="{% static 'images/team/salman.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Salman Inayat
                                </h5>
                                
                                <span>Mobile Developer
                                </span>
                                
                            </div>
                        </div> 
                    </div>

                </div>

                <br>
                <div class="row">
                    

                    

                </div>

                </div> <!-- /.our-team -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->

    {% endblock %}
